<html ng-app="mercatorApp">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
    <script src="src/js/selectize.min.js"></script>
    <link rel="stylesheet" type="text/css" href="bower_components/selectize/dist/css/selectize.css"/>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="bower_components/angular-plotly/src/angular-plotly.js"></script>
    <script src="src/js/app.js"></script>
  </head>
  <body id="top" ng-controller="plotController">
    <div>
      <plotly plotly-data="traces" plotly-layout="layout" plotly-options="options" plotly-events="plotlyEvents"></plotly>
      <div>
	<h2>Event Demo:</h2>
	<h3> Number of Selected Points: <span> {{ numberOfSelectedPoints }} </span></h3>
	<h3> Length of data: <span> {{ data.length }} </span></h3>
      </div>
    </div>
    <div class="demo">
      <h2>Color selection</h2>
      <div class="control-group">
	<div class="buttons">
	  <color-button ng-click="colorize()" type="button" value="Color!" id="color-button"></color-button>
	</div>
	<color-select id="select-groups" style="width=50%" multiple ng-model="trace_fields" placeholder="Select attributes to color by..."></color-select>
	</br>
	<file-input data-storage="euclid_pca_trace" data-status="euclid_pca_status" data-url="http://localhost:3000/euclid_pca" id="euclid-color-input"></file-input>
	<br>
	<dist-button id="pcaButton" value="{{ euclid_pca_status }}" ng-click="colorClick(euclid_pca_trace)" disabled></dist-button>
      </div>
    </div> 
  </body>
</html>
